body {
    background-image: linear-gradient(to right, white, #2eacd4);
}

#dataTable {
    background: linear-gradient(to bottom, white 60%, #8ec1d1);
}

.button {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: lightblue;
}

.buttonLg {
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: lightblue;
}

nav {
    height: 60px;
    width: 120px;
    float: left;
}